body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bg-inverse {
    background-color: #025aa5 !important;
}

.z-layer-1,
.z-layer-hover-1:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.z-layer-2,
.z-layer-hover-2:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.z-layer-3,
.z-layer-hover-3:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.z-layer-4,
.z-layer-hover-4:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.z-layer-5,
.z-layer-hover-5:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

.main {
    margin-top: 40px;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: beige;
}

.fa-fhw {
    width: 16px;
    height: 16px;
}