<div class="container">
    <fieldset [disabled]="loggingIn">
        <form class="form-group form-signin">
            <h2 class="form-signin-heading">
                <i class="fa fa-lock"></i> Authentification
            </h2>
            <hr />
            <ngb-alert *ngIf="error" type="danger" [dismissible]="false">
                <i class="fa fa-warning"></i> Nom d'utilisateur ou mot de passe incorrect.
            </ngb-alert>
            <div class="input-group mb-1">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input name="username" [(ngModel)]="username" type="text" id="inputEmail" class="form-control form-signin-control" placeholder="Nom d'utilisateur" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input name="password" [(ngModel)]="password" type="password" id="inputPassword" class="form-control form-signin-control" placeholder="Mot de passe" required>
            </div>
            <hr />
            <button (click)="login()" class="btn btn-primary btn-block" type="submit">
                <i class="fa fa-sign-in"></i>
                Connexion
            </button>
        </form>
    </fieldset>
</div>