.agent {
    margin-bottom: 0.8em;
    cursor: pointer;
}

.agent:hover {
    background-color: lightgoldenrodyellow;
}

.agent-avatar {}

.agent-body {
    padding: 0.8rem;
}

.agent-title {}

.agent-description {}

.agent-footer {
    color: darkgray;
}

.card-block {
    padding: 0.15rem;
}