<div class="card agent-detail">
    <div *ngIf="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
    <div *ngIf="!loading">
        <img class="img-fluid agent-detail-avatar" src="/data/images/{{ getLastImagePath() }}" alt="Dernière image">
    </div>
    <hr class="m-0">
    <div class="agent-detail-body">
        <div class="card-block">
            <h5 class="card-title agent-detail-title">
                <strong>
                    <i class="fa fa-camera"></i>
                    Agent {{ agent.id }}
                </strong>
            </h5>
            <hr class="m-1">
            <div class="card-text text-muted agent-detail-description">
                {{ agent.description }}
            </div>
            <hr class="m-1">
            <div class="agent-detail-footer">
                <small>
                    Données acquises : {{ datas.length }}
                    <br>
                    Dernier contact : {{ getLastContact() }}
                </small>
            </div>
        </div>
    </div>
</div>