.agent-detail {
    margin-bottom: 0.8em;
}

.agent-detail:hover {
    background-color: lightgoldenrodyellow;
}

.agent-detail-avatar {}

.agent-detail-body {
    padding: 0.8rem;
}

.agent-detail-title {}

.agent-detail-description {}

.agent-detail-footer {
    color: darkgray;
}

.card-block {
    padding: 0.2rem;
}